  h1 {
  background-color: #074f57;
  color: aliceblue;
  margin: 0;
  padding: 0.2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.descriere2 {
  background-image: url("yy.jpg");
}
.descriere1 {
  background-image: url("uu.jpg");
}
.descrierea:hover {
  color: rgb(199, 134, 134);
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  background: steelblue;
  -webkit-background-composite: opacity:0.3;
}
.descrierea {
  opacity: 0;
}
 .backbutton:hover{
  border: 1px solid cadetblue;
  margin-top:auto;
  margin-bottom:auto;
  border-radius: 10px;
  padding: 4px;
 }
 .backbutton {
   color:cadetblue;
   text-decoration: none;
 }
  